<div class="section-space"></div>
<div class="header-1">
    <div class="page-header header-filter" style="background-image: url('<%= image_path('disc.jpg') %>')">
      <div class="container">
        <div class="row">
          <div class="col-md-6">

            <br>
          </div>
          <div class="col-md-5 ml-auto unit">
            <h1 class="title_unit">Frequently Asked Questions</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
    <!--Faq-->
    <div class="container-fluid-lg text-center">
      <div class="accordion_title">HAVE A DOUBT IN YOUR MIND &#63;&#63; CLARIFY IT RIGHT AWAY &#33;&#33;&#33;</div>
    </div>
    <div class="container faq" style="text-align:left;">
      <div id="accordion" role="tablist">
              <div class="card card-collapse">
        <div class="card-header" role="tab" id="headingOne">
          <h5 class="mb-0 link_heading">
            <a class="collapsed" data-toggle="collapse" href="#collapseOne" role="tabpanel" aria-expanded="false" aria-controls="collapseOne">
               WHAT IS THIS&#63;

            </a>
          </h5>
        </div>

        <div id="collapseOne" class="collapse "  aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            At its Annual Conference in 1964 and with Mirra Alfassa as its Executive President, the Sri Aurobindo Society in Pondicherry passed a resolution for the establishment of a city dedicated to the vision of Sri Aurobindo. Alfassa was spiritual collaborator of Sri Aurobindo, who believed that "man is a transitional being". Alfassa expected that this experimental "universal township" would contribute significantly in the "progress of humanity towards its splendid future by bringing together people of goodwill and aspiration for a better world." Alfassa also believed that such a universal township will contribute decisively to the Indian renaissance
          </div>
        </div>
      </div>
      <div class="card card-collapse">
        <div class="card-header" role="tab" id="headingTwo">
          <h5 class="mb-0 link_heading">
            <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                WHERE IS THIS&#63;

            </a>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            At its Annual Conference in 1964 and with Mirra Alfassa as its Executive President, the Sri Aurobindo Society in Pondicherry passed a resolution for the establishment of a city dedicated to the vision of Sri Aurobindo. Alfassa was spiritual collaborator of Sri Aurobindo, who believed that "man is a transitional being". Alfassa expected that this experimental "universal township" would contribute significantly in the "progress of humanity towards its splendid future by bringing together people of goodwill and aspiration for a better world." Alfassa also believed that such a universal township will contribute decisively to the Indian renaissance
          </div>
        </div>
      </div>
      <div class="card card-collapse">
        <div class="card-header" role="tab" id="headingThree">
          <h5 class="mb-0 link_heading">
            <a class="collapse collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
               WHEN IS THIS&#63;

            </a>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            At its Annual Conference in 1964 and with Mirra Alfassa as its Executive President, the Sri Aurobindo Society in Pondicherry passed a resolution for the establishment of a city dedicated to the vision of Sri Aurobindo. Alfassa was spiritual collaborator of Sri Aurobindo, who believed that "man is a transitional being". Alfassa expected that this experimental "universal township" would contribute significantly in the "progress of humanity towards its splendid future by bringing together people of goodwill and aspiration for a better world." Alfassa also believed that such a universal township will contribute decisively to the Indian renaissance
          </div>
        </div>
      </div>
      <div class="card card-collapse">
        <div class="card-header" role="tab" id="headingFour">
          <h5 class="mb-0 link_heading">
            <a class="collapse collapsed" data-toggle="collapse" href="#collapseFour" role="tabpanel" aria-expanded="false" aria-controls="collapseFour">
                WHY IS THIS&#63;

            </a>
          </h5>
        </div>
        <div id="collapseFour" class="collapse "  aria-labelledby="headingFour" data-parent="#accordion">
          <div class="card-body">
            At its Annual Conference in 1964 and with Mirra Alfassa as its Executive President, the Sri Aurobindo Society in Pondicherry passed a resolution for the establishment of a city dedicated to the vision of Sri Aurobindo. Alfassa was spiritual collaborator of Sri Aurobindo, who believed that "man is a transitional being". Alfassa expected that this experimental "universal township" would contribute significantly in the "progress of humanity towards its splendid future by bringing together people of goodwill and aspiration for a better world." Alfassa also believed that such a universal township will contribute decisively to the Indian renaissance
          </div>
        </div>
      </div>
      <div class="card card-collapse">
        <div class="card-header" role="tab" id="headingFive">
          <h5 class="mb-0 link_heading">
            <a class=" collapse collapsed" data-toggle="collapse" href="#collapseFive" role="tabpanel" aria-expanded="false" aria-controls="collapseFive">
               WHO IS THIS&#63;

            </a>
          </h5>
        </div>

        <div id="collapseFive" class="collapse"  aria-labelledby="headingFive" data-parent="#accordion">
          <div class="card-body">
            At its Annual Conference in 1964 and with Mirra Alfassa as its Executive President, the Sri Aurobindo Society in Pondicherry passed a resolution for the establishment of a city dedicated to the vision of Sri Aurobindo. Alfassa was spiritual collaborator of Sri Aurobindo, who believed that "man is a transitional being". Alfassa expected that this experimental "universal township" would contribute significantly in the "progress of humanity towards its splendid future by bringing together people of goodwill and aspiration for a better world." Alfassa also believed that such a universal township will contribute decisively to the Indian renaissance
          </div>
        </div>
      </div>
      <div class="card card-collapse">
        <div class="card-header" role="tab" id="headingSix">
          <h5 class="mb-0 link_heading">
            <a class=" collapse collapsed" data-toggle="collapse" href="#collapseSix" role="tabpanel" aria-expanded="false" aria-controls="collapseSix">
               WHAT IS THAT&#63;

            </a>
          </h5>
        </div>

        <div id="collapseSix" class="collapse"  aria-labelledby="headingFive" data-parent="#accordion">
          <div class="card-body">
            At its Annual Conference in 1964 and with Mirra Alfassa as its Executive President, the Sri Aurobindo Society in Pondicherry passed a resolution for the establishment of a city dedicated to the vision of Sri Aurobindo. Alfassa was spiritual collaborator of Sri Aurobindo, who believed that "man is a transitional being". Alfassa expected that this experimental "universal township" would contribute significantly in the "progress of humanity towards its splendid future by bringing together people of goodwill and aspiration for a better world." Alfassa also believed that such a universal township will contribute decisively to the Indian renaissance
          </div>
        </div>
      </div>
      <div class="card card-collapse">
        <div class="card-header" role="tab" id="headingSeven">
          <h5 class="mb-0 link_heading">
            <a class=" collapse collapsed " data-toggle="collapse" href="#collapseSeven" role="tabpanel" aria-expanded="false" aria-controls="collapseSeven">
               WHERE IS THAT&#63;

            </a>
          </h5>
        </div>

        <div id="collapseSeven" class="collapse"  aria-labelledby="headingFive" data-parent="#accordion">
          <div class="card-body">
            At its Annual Conference in 1964 and with Mirra Alfassa as its Executive President, the Sri Aurobindo Society in Pondicherry passed a resolution for the establishment of a city dedicated to the vision of Sri Aurobindo. Alfassa was spiritual collaborator of Sri Aurobindo, who believed that "man is a transitional being". Alfassa expected that this experimental "universal township" would contribute significantly in the "progress of humanity towards its splendid future by bringing together people of goodwill and aspiration for a better world." Alfassa also believed that such a universal township will contribute decisively to the Indian renaissance
          </div>
        </div>
      </div>
    </div>

    </div>
