<div class="section-space"></div>
<div class="header-1">
<div class="page-header header-filter" style="background-image:url('<%= image_path('matir.jpg') %>')">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <br>
      </div>
      <div class="col-md-5 ml-auto">
        <h1 class="title">Auroville Economy</h1>
        <h4>How we make our living</h4>
            </div>
    </div>
  </div>
</div>


<div class="container">

<div class="features-3">
  <div class="row">
    <div class="col-md-6">

      <div class="info info-horizontal">
          <h2 class="title_p">Overview of Economic Structure of Auroville</h2>
        <div class="description">
          <ul>
            <p>At the creation of Auroville Foundation Act,the Indian Government recognised Auroville Foundation as the legal owner for all the units of Auroville.The Foundation has created trusts to manage the units. </p>
            <li>&#8212; Units that generate income for Auroville are under the commercial trust</li>
            <li>&#8212; Units that generate income for Auroville are under the commercial trust</li>
            <li>&#8212; Units that generate income for Auroville are under the commercial trust</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card card-blog card-plain">
        <div class="card-header card-header-image">
          <img class="img" src="<%= image_path('Auroville.jpg')%>">
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
<div class="land">
<div  class="container-fluid home">
  <div class="container">
            <p class="text_1">Units are run by stewards with freedom to determine the aims and strategies for the respective units,keeping in minds the ideals and needs of Auroville.</p>
  </div>
</div>
</div>
