<div class="section-space"></div>
<div class="header-1">
  <div class="page-header header-filter" style="background-image: url('<%= image_path('Kinisi background.jpg') %>')">
    <div class="container">
      <div class="row">
        <div class="col-md-6">

          <br>
        </div>
        <div class="col-md-5 ml-auto container ">
          <div class="logo-cover-1">
            <h1 class="title text-center"><img src="<%= image_path('logo.png') %>" height="50" width=""></h1>
          </div>
          <div class="logo-cover-1 text-align-left">
            <p>KINISI is an Auroville unit that aims to provide sustainable electric transport for residents of Auroville and its visitors.</p>
            <p>They want Auroville’s sustainable mobility model to be an inspiration for the world.</p>
            <p>On the birthday of Auroville (28th Feb), KINISI’s founder, Debobrata Sahoo, wondered what would be a sustainable transport system in Auroville…. Over time a simple solution dawned upon him: E-cycles.</p>
            <p>He observed that, on an average people in Auroville travel less than 10kms everyday! With a growing population and pollution levels rising due to number of motor vehicles in Auroville, KINISI’s electric cycles propose a healthy, sustainable and efficient solution. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="container">
  <div class="row">
    <div class="col-md-2 text-center story-title">
      <h3>THE</h3>
      <h3>KINISI</h3>
      <h3>STORY</h3>
      <p> The founders explain how thier vision embodied Auroville's vision<p>
      </div>
      <div class="col-md-10 story text-center">
        <%= video_tag "video.mp4", :size => "760x576", :controls => true %>
      </div>

      <div class="features-3">
        <div class="row">
          <div class="col-md-6 description">
            <p>In the world of transport there is nothing more Life-affirming than empowering people to shift from  carbon emitting vehicles to green energies such as KINISI’s battery powered cycles.  These light-weight all terrain bikes are sourced from Hero India and the lithium batteries are bought from Coimbatore. Kinisi’s team puts it together and charges the batteries exclusively on solar energy to give you the best mode of transport for Auroville.</p>
            <p>These cycles can go up to 50kms on a single charge at an average pace of 20kms/hour. The battery powered motor is your friend-in-need who can give you that extra push to go faster and sweat less to hit speeds of 40kms/hour.</p>
            <p>A KINISI bike rests only when you rest: Plug into the charger before you go to bed, so you are both recharged for the next day’s adventure.</p>
            <p>The Auroville community has jumped onto Kinisi’s vision of shared and sustainable transport, the collective transport service was offered 10 bikes and 20 enamored citizens have bought one for their daily commute.</p>
            <p>For Debo, selling the cycles is not the aim, just as it isn’t the aim for the early investors to maximize profit. For these pioneers of a new economy, the real wealth lies in seeing the impact of this silent revolution, as motor vehicles make way for electric bikes and as Auroville becomes a model of shared sustainable mobility.</p>
            <p>In line with this vision, 70 cycles are available for rent and long-term use. The dream is to set up cycle parks across this international township, for shared mobility.</p>
            <p>Discover Auroville’s many cycle paths at a 100Rs/day.</p>
            </div>
            <div class="col-md-6 description">
              <div class="card card-blog card-plain ">
                <div class="card-header card-header-image ">
                  <img class="img_block" src="<%= image_path('auroville-pondicherry-1.jpg')%>">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="features-3">
          <div class="row">
            <div class="col-md-6 description">
              <p>We want guests to enjoy their journey and immerse themselves in the Aurovilian atmosphere by moving with responsible vehicles. This will be a new experience for most people in this atypical place.<p>
                <p>In order to achieve these goals, we researched the different ways to promote an alternative to traditional vehicles.  We found that e-cycles were the best solution for Auroville.</p>
                <p>In order to achieve these goals, we researched the different ways to promote an alternative to traditional vehicles.  We found that e-cycles were the best solution for Auroville.</p>
              </div>
              <div class="col-md-6 description">
                <p>We want guests to enjoy their journey and immerse themselves in the Aurovilian atmosphere by moving with responsible vehicles. This will be a new experience for most people in this atypical place.<p>
                  <p>In order to achieve these goals, we researched the different ways to promote an alternative to traditional vehicles.  We found that e-cycles were the best solution for Auroville.</p>
                  <p>In order to achieve these goals, we researched the different ways to promote an alternative to traditional vehicles.  We found that e-cycles were the best solution for Auroville.</p>
                </div>
              </div>
            </div>
          </div>

          <!--Forms-->
          <div class="container title_form">
            <div class="title">
              <p>Interested in working with KINISI</p>
              <p>Send us an e-mail now!</p>
            </div>
            <form class="ox">
              <div class="form-group">
                <label for="name" class="bmd-label-floating">Name</label>
                <input type="text" class="form-control" id="name">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1">
              </div>
              <div class="form-group">
                <label for="name" class="bmd-label-floating">Occupation</label>
                <input type="text" class="form-control" id="name">
              </div>
              <div class="form-group label-floating">
                <label class="form-control-label bmd-label-floating" for="message">Comments</label>
                <textarea class="form-control" rows="6" id="message"></textarea>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="">
                  Receive  e-mails from KINISI !
                  <span class="form-check-sign">
                    <span class="check"></span>
                  </span>
                </label>
              </div>
              <div class="submit text-center end_button">
                <input type="submit" class="btn btn-primary btn-raised btn-round" value="SUBMIT">
              </div>
            </form>
          </div>
