
<div class="container-fluid-lg footer_img ">
    <img src="<%= image_path('silouhette-d8e3419319f52505ac6ddb79a7cf06d1.png') %>" alt="footerimage" width="100%" style="margin:0;">
</div>
<footer class="footer ">
  <div class="container">
    <div class="content ">
      <div class="row">
        <div class="col-md-3 animated rotateInDownLeft">
          <ul>
            <h3>Vision</h3>
                  <li><a href="#">The Auroville Charter</a></li>
                  <li><a href="#">A Dream</a></li>
                  <li><a href="#">To be a True Aurovilian</a></li>
                  <li><a href="#">Matrimandir - Soul of the City</a></li>
                  <li><a href="#">Founder: The Mother</a></li>
                  <li><a href="#">Visionary: Sri Aurobindo</a></li>
                  <li><a href="#">Words of Wisdom</a></li>
                  <li><a href="#">Integral Yoga</a></li>
          </ul>
        </div>
        <div class="col-md-3 animated rotateInDownLeft">
          <h3>Activities</h3>
          <ul>
                  <li><a href="#">Planning &amp; Architecture</a></li>
                  <li><a href="#">Green Practices</a></li>
                  <li><a href="#">Education &amp; Research</a></li>
                  <li><a href="#">Art &amp; Culture</a></li>
                  <li><a href="#">Health &amp; Wellness</a></li>
                  <li><a href="#">Social Enterprises</a></li>
                  <li><a href="#">Media &amp; Communication</a></li>
                  <li><a href="#">Rural Development</a></li>
                  <li><a href="#">City Services</a></li>
          </ul>
        </div>
        <div class="col-md-3 animated rotateInDownRight">
          <h3>Community</h3>
          <ul>
                  <li><a href="#">Auroville in Brief</a></li>
                  <li><a href="#">Testimonials &amp; Support</a></li>
                  <li><a href="#">Organisation &amp; Governance</a></li>
                  <li><a href="#">People</a></li>
                  <li><a href="#">History</a></li>
                  <li><a href="#">Services</a></li>
                  <li><a href="#">Society</a></li>
        </div>
        <div class="col-md-3 animated rotateInDownRight">
          <ul>
            <li><h3>What You Can Do</h3></li>
                  <li><a href="#">Visit &amp; Stay</a></li>
                  <li><a href="#">Volunteer &amp; Intern</a></li>
                  <li><a href="#">Study in Auroville</a></li>
                  <li><a href="#">Join Auroville</a></li>
                  <li><a href="#">Workshops &amp; Therapies</a></li>
                  <li><a href="#">Donate</a></li>
                  <li><a href="#">Contact Nearby Centre</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
    <div class="bottom_nav ">
      <ul class="nav justify-content-center">
        <li class="nav-item ">
          <a class="nav-link active" href="#">Disclaimer</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#">|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Contact Us</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#">|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sign-In</a>
        </li>
      </ul>
    </div>
